<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>MonoMuse Exhibitions</title>
</head>
<body>
    <img id="logo" src="./static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    <h3>Exhibition 1: Digital Horizons</h3>
    <p> Digital horizons spotlights the transformation of digital techonolgies over time, and how they have seeped into the world of material art. This exhibit presents a comprehensive timeline, highlighting the use of software, AI, and other digital tools in the creation of art.</p>
    <h3> Exhibition 2: Scientific art</h3>
    <p> This exhibition explores the intersection of science and art, showcasing how researchers and artists collaborate to create innovative works that advance our understanding, trust, and appreciation of both fields in the modern age.</p>
</body>
</html>