<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Buy Tickets</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Adult</td>
             <td>General ticket for those 18 and over. Cannot be resold.</td>
            <td>$20</td>
        </tr>
        <tr>
            <td>Child</td>
            <td>General ticket for those under 18. Cannot be resold.</td>
            <td>$15</td>
        </tr>
         <tr>
            <td>Student</td>
            <td>General ticket for students with valid ID. Cannot be resold.</td>
            <td>$16</td>
        </tr>
    </table>
</body>
</html>